/* mens.css */
.carousel {
    width: 100%;
    overflow: hidden; /* Hide the overflow */
}
.slides{
    display: flex;
    width: calc(100% * 3); /* Adjust based on the number of images */
  

}
.slides img {
    width: 5%; /* Make each image take the full width of the container */
    flex-shrink:0; /* Prevent images from shrinking */

}
